<form action="/Users" method="post">
  <fieldset>
    <legend>Create Your Account</legend>
    <div>
      <label>Username <input type="text" name="Username" /></label>
    </div>
    <div>
      <label>Email <input type="text" name="Email" /></label>
    </div>
    <div>
      <label>Password <input type="password" name="Password" /></label>
    </div>
    <div>
      <label>&nbsp;</label>
      <input type="submit" value="Submit" class="submit" />
    </div>
  </fieldset>
</form>